*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;

	--border: #ccc;
	--background: #eee;
	--background-primary: #fff;

	--active: #46cbf4;
	--focus: rgba(70, 203, 244, 0.5);
}

.container {
	min-height: 100vh;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background);
}

.main {
	border-left: 5px solid var(--border);
	border-right: 5px solid var(--border);
	background-color: var(--background-primary);
	flex: 1;
	padding: 2rem 3rem;
	width: 800px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.heading {
	font-size: 3rem;
	margin: 0;
}

.fieldset {
	margin: 0;
	border: solid 1px var(--border);
}

.legend {
	font-weight: bold;
}

.form-field {
	display: flex;
	justify-content: stretch;
	align-items: center;
	padding: 0.25rem 0.5rem;
}

.label {
	flex: 1;
}

.input-field,
.switch-container {
	height: 30px;
	flex: 2;
}

.input-field {
	border-radius: 11px;
	border: 1px solid var(--border);
	padding: 5px 3px;
	outline: none;
}

.input-field:focus {
	box-shadow: 0 0 0 2px var(--focus);
}

.switch {
	align-self: flex-start;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	.switch {
		-webkit-appearance: none;
		-moz-appearance: none;
		height: 21px;
		outline: none;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0;
		cursor: pointer;
		border: 1px solid var(--border);
		background: var(--b, var(--background));
	}

	.switch {
		width: 38px;
		border-radius: 11px;
		transition: background 0.3s;
	}

	.switch::after {
		content: '';
		display: block;
		position: absolute;
		left: 2px;
		top: 2px;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		background: var(--ab, var(--border));
		transition: transform 0.3s, background 0.3s;
		transform: translateX(var(--x, 0));
	}

	.switch:checked {
		--b: var(--background-primary);
		--ab: var(--active);
		--x: 17px;
	}

	.switch:focus {
		box-shadow: 0 0 0 2px var(--focus);
	}
}

.submit {
	display: block;
	height: 30px;
	flex: 1;
	border-radius: 11px;
	border: 1px solid var(--border);
	cursor: pointer;
}

.submit:focus {
	box-shadow: 0 0 0 2px var(--focus);
	outline: none;
}

.submit:active {
	box-shadow: inset 0 0 10px 0 rgba(160, 160, 160, 0.3);
}

.book-list {
	flex: 1;
	border: solid 1px #ccc;
	background-color: var(--background);
	box-shadow: inset 0 0 10px 0 rgba(130, 130, 130, 0.4);
	padding: 0.75rem;
	display: grid;
	gap: 0.75rem;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 250px;
}

.item {
	padding: 2rem;
	border: 1px solid var(--border);
	background-color: var(--background-primary);
}

.item-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.book-title {
	margin: 0;
	flex: 2;
	border-right: 1px solid var(--border);
}

.author {
	flex: 1;
	text-align: right;
}

.item-body {
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.list {
	list-style: none;
	margin: 0;
	padding: 1rem 0;
}

.list-item {
	margin-bottom: 0.5rem;
}
